In [5]:
pip install selenium

Requirement already satisfied: selenium in c:\users\riyan\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\riyan\anaconda3\lib\site-packages (from selenium) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from selenium import webdriver

#DRIVER_PATH = 'C:\Users\riyan\Downloads\chromedriver_win32\chromedriver.exe
driver = webdriver.Chrome(executable_path=r'C:\Users\riyan\Downloads\chromedriver_win32\chromedriver.exe')
driver.get('https://google.com')

In [17]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import os
import time

options = Options()
options.headless = True
options.add_argument("--window-size=1920,1200")


driver = webdriver.Chrome(executable_path=r'C:\Users\riyan\Downloads\chromedriver_win32\chromedriver.exe')
driver.get("https://www.naukri.com/")
que1=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
que2=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
que3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
que1.send_keys("Bangalore")
que2.send_keys("Data Analyst")
que3.click()
time.sleep(6)
tree=driver.find_elements_by_tag_name('article')
tree1=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
tree2=driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
#driver.quit()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
for i in range(0,10):
    job_title.append(tree[i].find_element_by_tag_name('a').text)
    experience_required.append(tree[i].find_element_by_tag_name('li').text) 
    company_name.append(tree1[i].find_element_by_tag_name('a').text)
    job_location.append(tree2[i].text)

In [19]:
import pandas as pd
import numpy as np

jobData= pd.DataFrame({
    "Job_Title":job_title,
    "Job_Location":job_location,
    "Company_Name":company_name,
    "Experience_Required":experience_required
})

In [136]:
jobData

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
2,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
3,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
4,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
5,Data Analyst,"Lucknow, Bangalore/Bengaluru",CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs
6,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
7,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Uber,1-3 Yrs

In [133]:
driver = driver = webdriver.Chrome(options=options, executable_path=r'C:\Users\riyan\Downloads\chromedriver_win32\chromedriver.exe')
driver.get("https://www.naukri.com/")
que1=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
que2=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
que3=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
que1.send_keys("Bangalore")
que2.send_keys("Data Scientist")
que3.click()
time.sleep(2)

In [134]:
l1=driver.find_elements_by_xpath("//div[@class='info fleft']")
l2=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
l3=driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
l4=[]

In [135]:
job_title=[]
job_location=[]
company_name=[]
job_desc=[]
for i in range(0,10):
    job_title.append(l1[i].find_element_by_tag_name('a').text)
    company_name.append(l2[i].find_element_by_tag_name('a').text)
    job_location.append(l3[i].text)
    l4.append(l1[i].find_element_by_tag_name('a').get_attribute('href'))
for link in l4:
    driver.get(link)
    l5=driver.find_element_by_xpath("//section[2]")
    job_desc.append(l5.text)
#driver.quit()

In [136]:
job_title

['Data Scientist- Senior Business Analyst/Lead Analyst',
 'Senior Data Scientist',
 'Senior Data Scientist (Analytics),',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - KPO',
 'Senior Data Scientist']

In [137]:
jobData1= pd.DataFrame({
    "Job_Title":job_title,
    "Job_Location":job_location,
    "Company_Name":company_name,
    "Job_Description":job_desc
})

In [138]:
jobData1

,Job_Title,Job_Location,Company_Name,Job_Description
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,Job description\nJob Description\nUnderstand a...
1,Senior Data Scientist,Bangalore/Bengaluru,Signify,"Job description\nWhat you ll do\nResearch, des..."
2,"Senior Data Scientist (Analytics),",Bangalore/Bengaluru,Luxoft,Job description\n\n Data and Analytics Propos...
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,Role:Research Scientist\nSalary: Not Disclosed...
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,Role:Software Developer\nSalary: Not Disclosed...
5,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,Role:Data Analyst\nSalary: Not Disclosed by Re...
6,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,Job description\nRoles and Responsibilities\n\...
7,Senior Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\n Be a part of the Enterprise...
8,Senior Data Scientist - KPO,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",TalentCo Search Pvt Ltd,Job description\n- Ability to understand a pro...
9,Senior Data Scientist,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",TalentCo Search Pvt Ltd,Job description\n- Ability to understand a pro...